.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    width: 100vw;
    padding-right: 10%;
    background-color: #ffff;
}
.navbar p{
    padding-top: 20px;
    color: #2D5C8A;
    font-weight: 900;
    font-size: 35px;
    cursor: pointer;

}

.navbar .nav-links{
    display: flex;
    gap: 5%;
    justify-content: flex-end;
    list-style: none;
    padding-top: 20px;
    width: 75%;
    
    
}

.nav-menu {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    
}

.navbar ul li:hover {
    
    transform: scale(1.1);
    transition: transform ease-in-out 0.5s;
    
}

.mobile-menu-icon{
    display : none;
}

/*.nav-links-mobile{
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
}*/

.navbar button{
    
}

@media screen and (max-width: 768px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
    }
    
        
   /* .navbar p {
        display: flex;
        position: fixed;
        top: 15px;
        left: 25px;
    }*/

  

    .navbar .nav-links{
        display: none;
    
    }

    .navbar .nav-links-mobile{
        position: fixed;
        display: flex;
        flex-direction: column;
        list-style: none;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
   
    }

    .nav-menu{
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .mobile-menu-icon{
        display : block;
        position: fixed;
        top: 35px;
        right: 25px;
        border: none;
        cursor: pointer;
    }

 

   



}